## Practice Exercise 1

You are provided with 2 lists that contain the data of an ecommerce website. The first list contains the data for the number of items sold for a particular product and the second list contains the price of the product sold. As a part of this exercise, solve the questions that are provided below.

In [1]:
number = [8, 9, 9, 1, 6, 9, 5, 7, 3, 9, 7, 3, 4, 8, 3, 5, 8, 4, 8, 7, 5, 7, 3, 6, 1, 2, 7, 4, 7, 7, 8, 4, 3, 4, 2, 2, 2, 7, 3, 5, 6, 1, 1, 3, 2, 1, 1, 7, 7, 1, 4, 4, 5, 6, 1, 2, 7, 4, 5, 8, 1, 4, 8, 6, 2, 4, 3, 7, 3, 6, 2, 3, 3, 3, 2, 4, 6, 8, 9, 3, 9, 3, 1, 8, 6, 6, 3, 3, 9, 4, 6, 4, 9, 6, 7, 1, 2, 8, 7, 8, 1, 4]
price = [195, 225, 150, 150, 90, 60, 75, 255, 270, 225, 135, 195, 30, 15, 210, 105, 15, 30, 180, 60, 165, 60, 45, 225, 180, 90, 30, 210, 150, 15, 270, 60, 210, 180, 60, 225, 150, 150, 120, 195, 75, 240, 60, 45, 30, 180, 240, 285, 135, 165, 180, 240, 60, 105, 165, 240, 120, 45, 120, 165, 285, 225, 90, 105, 225, 45, 45, 45, 75, 180, 90, 240, 30, 30, 60, 135, 180, 15, 255, 180, 270, 135, 105, 135, 210, 180, 135, 195, 225, 75, 225, 15, 240, 60, 15, 180, 255, 90, 15, 150, 230, 150]

#### How many different products are sold by the company in total?

-  99
-  100
-  101
-  102

In [2]:
len(number)# Type your code here

102

#### How many items were sold in total?

-  460
-  490
-  500
-  520

In [3]:
sum(number)# Type your code here

490

#### What is the average price of the products sold by the ecommerce company?

-  139
-  151
-  142
-  128

In [6]:
import numpy as np
np_number = np.array(number)
np_price = np.array(price)
np_price.mean()

139.01960784313727

#### What is the price of the costliest item sold?

-  225
-  310
-  280
-  285

In [7]:
np_price.max()# Type your code here

285

#### What is the total revenue of the company? [Revenue = Price\*Quantity]

-  67100
-  53900
-  45300
-  71200

In [8]:
(np_price*np_number).sum()# Type your code here

67100

#### Demand for the 20th product in the list is more than the 50th product. [True/False]
-  True
-  False
-  Can't be calculated

In [10]:
np_number[19]>np_number[49]# Type your code here

True

#### How many products fall under the category of expensive goods? 
An expensive good is that good whose price is more than the average price of the products sold by the company.

-  48
-  50
-  52
-  54

In [11]:
np_price.mean()# Type your code here

139.01960784313727

In [1]:
np_price[np_price>np_price.mean()].size()

NameError: name 'np_price' is not defined

In [3]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv'
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv')

df["Training"] = df.Rating.apply(lambda x: 'No' if x>3.5 else 'Yes')

print(df)

        ID Department     Office  Rating Training
0    U2F26    Finance  New Delhi     3.4      Yes
1    U2M61  Marketing  New Delhi     3.9       No
2    U1S15      Sales  New Delhi     2.8      Yes
3    U1H87         HR     Mumbai     2.1      Yes
4    U1S51      Sales  New Delhi     4.6       No
..     ...        ...        ...     ...      ...
528  U3S44      Sales  New Delhi     4.8       No
529  U2M11  Marketing  Bangalore     2.5      Yes
530  U3F53    Finance  Bangalore     3.2      Yes
531  U3S46      Sales  Bangalore     2.9      Yes
532  U3S28      Sales  New Delhi     2.9      Yes

[533 rows x 5 columns]

In [5]:
sum(df[(df.Department = "Finance")].Training)

SyntaxError: invalid syntax (<ipython-input-5-ec8d0a93db06>, line 1)

In [11]:
for i in ['Finance', 'HR', 'Sales', 'Marketing']:
    print(i, len(df[(df['Training'] == 'No') & (df['Department'] == i)]) / len(df[df['Department'] == i]) * 100)

Finance 49.25373134328358
HR 55.72519083969466
Sales 46.15384615384615
Marketing 44.927536231884055

In [12]:
df.head()

      ID Department     Office  Rating Training
0  U2F26    Finance  New Delhi     3.4      Yes
1  U2M61  Marketing  New Delhi     3.9       No
2  U1S15      Sales  New Delhi     2.8      Yes
3  U1H87         HR     Mumbai     2.1      Yes
4  U1S51      Sales  New Delhi     4.6       No

In [16]:
df[["Training"]].groupby("Department")

KeyError: 'Department'

In [19]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df.groupby(['month','day'])
df.head()
# df_1 = df[['rain','wind']].mean()
# print(df_1.head(20))

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [20]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df.set_index('month','day',inplace=True)
df.head()

       X  Y  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
month
mar    7  5  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
oct    7  4  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
oct    7  4  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
mar    8  6  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
mar    8  6  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0