## Python Libraries - Pandas - Merge and Append

In this section, you will merge and concatenate multiple dataframes. Merging is one of the most common operations you will do, since data often comes in various files.

### Merging

For merging, we have sales data across multiple sheets in an Excel file. We will now work with all these sheets and learn to:
* Merge multiple dataframes using common columns/keys using ```pd.merge()```

Let's first read all the data files.

In [1]:
# import the required libraries

In [19]:
# read the sheets from file 'sales_returns.xlsx' into 2 different dataframes - orders and returns
orders = 
returns =

In [ ]:
# Check the shape of the dataframe 'orders'

In [ ]:
# Check the shape of the dataframe 'returns'

In [ ]:
# check the dataframe 'orders' and 'returns'

In [ ]:
# Create a dataframe 'return_orders' by merging the two dataframes on Order_ID


# Check the created dataframe

In [ ]:
# Check the shape of the new dataframe

In [ ]:
# try to use the 'left' method to join two dataframes


# Check the created dataframe

In [ ]:
# Check the orders where orders were returned

In [ ]:
# Print the dataframe summary using the info() command

In [ ]:
# Change the data type of the column 'Returned' 


# Check the dataframe after modification

In [ ]:
# Replace the 'nan' value with 'No' in the column 'Returned'


# Check the dataframe after modification

### Append / Concatenate

Concatenation is much more straightforward than merging. It is used when you have dataframes having the same columns and want to append them (pile one on top of the other), or having the same rows and want to append them side-by-side.

In [ ]:
# Import the required libraries

**Appending rows in a dataframe**

In [ ]:
# Dataframes having the same columns

df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age' : ['34', '31', '22', '33'], 
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age' : ['31', '22', '23'], 
                    'Gender': ['M', 'F', 'F']}
                  )

In [ ]:
# Append the rows of df2 in df1

**Appending columns in a dataframe**

In [ ]:
# Another dataframe with same number of rows as df1
df3 = pd.DataFrame({'School': ['RK Public', 'JSP', 'Carmel Convent', 'St. Paul'],
                    'Graduation Marks': ['84', '89', '76', '91']}
                  )

In [ ]:
# Concatenating the dataframes: df1 and df3

In [1]:
# Concatenating the dataframes across column: df1 and df3
import pandas as pd
df_1 = pd.read_csv('https://query.data.world/s/vv3snq28bp0TJq2ggCdxGOghEQKPZo')
df_2 = pd.read_csv('https://query.data.world/s/9wVKjNT0yiRc3YbVJaiI8a6HGl2d74')
df_3 = df_1.merge(df_2,on='unique_id',how='inner')
print(df_3.head(20))

                           name                     address              city  \
0     arnie morton's of chicago   "435 s. la cienega blvd."     "los angeles"
1                    art's deli       "12224 ventura blvd."     "studio city"
2                 bel-air hotel      "701 stone canyon rd."         "bel air"
3                    cafe bizou       "14016 ventura blvd."    "sherman oaks"
4                     campanile       "624 s. la brea ave."     "los angeles"
5               chinois on main             "2709 main st."    "santa monica"
6                        citrus         "6703 melrose ave."     "los angeles"
7           fenix at the argyle         "8358 sunset blvd."    "w. hollywood"
8                       granita       "23725 w. malibu rd."          "malibu"
9                    grill  the           "9560 dayton way"   "beverly hills"
10                        katsu       "1972 hillhurst ave."       "los feliz"
11                  l'orangerie   "903 n. la cienega blvd."    "w. hollywood"
12  le chardonnay (los angeles)         "8284 melrose ave."     "los angeles"
13               locanda veneta         "8638 w. third st."     "los angeles"
14                    matsuhisa   "129 n. la cienega blvd."   "beverly hills"
15      palm  the (los angeles)   "9001 santa monica blvd."    "w. hollywood"
16                       patina         "5955 melrose ave."     "los angeles"
17        philippe the original       "1001 n. alameda st."       "chinatown"
18                 pinot bistro       "12969 ventura blvd."     "studio city"
19            rex il ristorante          "617 s. olive st."     "los angeles"

                      cuisine unique_id                     name_2  \
0               "steakhouses"       '0'  arnie morton's of chicago
1                     "delis"       '1'         art's delicatessen
2               "californian"       '2'              hotel bel-air
3             "french bistro"       '3'                 cafe bizou
4               "californian"       '4'                  campanile
5          "pacific new wave"       '5'            chinois on main
6               "californian"       '6'                     citrus
7              "french (new)"       '7'                      fenix
8               "californian"       '8'                    granita
9    "american (traditional)"       '9'         grill on the alley
10                 "japanese"      '10'           restaurant katsu
11         "french (classic)"      '11'                l'orangerie
12            "french bistro"      '12'              le chardonnay
13                  "italian"      '13'             locanda veneta
14                  "seafood"      '14'                  matsuhisa
15              "steakhouses"      '15'                   the palm
16              "californian"      '16'                     patina
17               "cafeterias"      '17'    philippe's the original
18            "french bistro"      '18'               pinot bistro
19     "nuova cucina italian"      '19'          rex il ristorante

                     address_2            city_2       cuisine_2
0     "435 s. la cienega blv."     "los angeles"      "american"
1        "12224 ventura blvd."     "studio city"      "american"
2       "701 stone canyon rd."         "bel air"   "californian"
3        "14016 ventura blvd."    "sherman oaks"        "french"
4        "624 s. la brea ave."     "los angeles"      "american"
5              "2709 main st."    "santa monica"        "french"
6          "6703 melrose ave."     "los angeles"   "californian"
7     "8358 sunset blvd. west"       "hollywood"      "american"
8        "23725 w. malibu rd."          "malibu"   "californian"
9            "9560 dayton way"     "los angeles"      "american"
10    "1972 n. hillhurst ave."     "los angeles"         "asian"
11   "903 n. la cienega blvd."     "los angeles"        "french"
12         "8284 melrose ave."     "los angeles"        "french"
13                   "3rd st."     "los angeles"       "italian"
14   "129 n. la cienega blvd."   "beverly hills"         "asian"
15   "9001 santa monica blvd."     "los angeles"      "american"
16         "5955 melrose ave."     "los angeles"   "californian"
17       "1001 n. alameda st."     "los angeles"      "american"
18       "12969 ventura blvd."     "los angeles"        "french"
19          "617 s. olive st."     "los angeles"       "italian"

In [4]:
df_1 = pd.read_csv('https://query.data.world/s/vv3snq28bp0TJq2ggCdxGOghEQKPZo')
df_2 = pd.read_csv('https://query.data.world/s/9wVKjNT0yiRc3YbVJaiI8a6HGl2d74')
df_3 = pd.concat([df_2,df_1],axis=1)
df_3.head()

,name_2,address_2,city_2,cuisine_2,unique_id,name,address,city,cuisine,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blv.""","""los angeles""","""american""",'0',arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0'
1,art's delicatessen,"""12224 ventura blvd.""","""studio city""","""american""",'1',art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1'
2,hotel bel-air,"""701 stone canyon rd.""","""bel air""","""californian""",'2',bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2'
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3'
4,campanile,"""624 s. la brea ave.""","""los angeles""","""american""",'4',campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4'

In [11]:
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )
                    
df_final = pd.concat([gold,silver,bronze],axis=1)
df_final.head()

  Country  Medals  Country  Medals Country  Medals
0     USA      15      USA      29  France      40
1  France      13  Germany      20     USA      28
2  Russia       9   Russia      16      UK      27